.login {
  position: absolute;
  top: 0;
  left: 0;
  @include fullSize;
  background: linear-gradient(to bottom, $grad1, $grad2);
  &__wrapper {
    @include center;
    width: 330px;
    padding: 20px;
    border: 2px solid #ccc;
    background: linear-gradient(to bottom, $grad1, $grad2);
    text-align: center;
    color: #c2e8ed;
    box-shadow: inset #{$glow} #{$glowcolor};
    border-radius: 10px;
  }
  &__form {
    padding: 20px;
  }
  &__error {
    font-size: 0.8rem;
    color: $bad;
    margin: 0 0 10px 0;
  }
  &__success {
    font-size: 0.8rem;
    color: $good;
    margin: 0 0 10px 0;
  }
}

.row {
  margin: 5px 0 15px 0;
}

.box {
  position: relative;
  &__label {
    position: relative;
    &Text {
      margin: 5px;
      font-size: 0.8rem;
      text-align: left;
    }
  }
  &__field {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: transparent;
    margin: 5px 0;
    z-index: 1;
    box-shadow: inset #{$glow} #{$glowalphacolor};
    border: 2px solid #{$glowalphacolor};
    border-radius: 10px;
    &Input {
      font-size: 1.6em;
      text-align: left;
      @include fullSize;
      padding: 0 15px;
      background: transparent;
      z-index: 2;
      outline: none;
      color: $light;
    }
    &Button {
      font-size: 1rem;
      color: #ebcaeb;
      background-color: transparent;
      @include fullSize;
      cursor: pointer;
      text-transform: uppercase;
    }
  }
  &__field--button {
    box-shadow: inset #{$glow} #{$glowbuttoncolor};
    border: 2px solid #{$glowbuttoncolor};
  }
}

.borderOnly {
  border-radius: 10px;
  position: absolute;
  @include fullSize;
  box-sizing: content-box;
  box-shadow: #{$glow} #{$glowalphacolor};
  z-index: -1;
  top: -2px;
  left: -2px;
  border: 2px solid transparent;
  transition: border 0.5s;
  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 33%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    box-shadow: 0px 0 27px 2px #{$glowalphacolor};
    transition: left 0.5s, opacity 0.5s;
  }
  &:before {
    top: -2px;
    left: 53%;
  }
  &:after {
    top: 100%;
    left: 34%;
  }
  &--button {
    box-shadow: #{$glow} #{$glowbuttoncolor};
    transition: border 0.5s;
    &:before,
    &:after {
      box-shadow: 0px 0 27px 2px #{$glowbuttoncolor};
      transition: left 0.5s, width 0.5s;
    }
  }
}

.box__fieldInput:focus+.borderOnly {
  border: 2px solid #{$glowalphacolor};
  &:before,
  &:after {
    opacity: 0;
    left: 0%;
  }
}

.box__fieldButton:hover+.borderOnly--button {
  border: 2px solid #{$glowbuttoncolor};
  &:before {
    width: 0px;
    left: 10%;
  }
  &:after {
    width: 0px;
    left: 90%;
  }
}

.svg--logo {
  width: 120px;
  margin: 10px auto;
}