$itemMargin: 10px;

.side {
  position: absolute;
  display: block;
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $panel;
  color: $light;
  font-size: 1.2rem;
  vertical-align: top;
  z-index: 666;
  &__menu,
  &__subMenu {
    position: relative;
    display: block;
    padding: 10px 0;
    font-size: 1rem;
    color: $light;
    &Item {
      position: relative;
      display: block;
      transition: all 0.4s;
      height: 35px;
      & svg {
        transition: all 0.4s;
      }
      &>a {
        @include AinLI;
        padding: 5px 20px;
      }
      &:hover {
        background-color: opacify($lightAdj, 0.3);
        //color: $dim;
        & svg {
          color: $dark;
          fill: $dark;
        }
      }
    }
  }
  &__subMenu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -$itemMargin;
    left: 100%;
    width: 100%;
    transition: 0.3s;
    &Item {
      display: block;
      position: relative;
      //margin: $itemMargin 0;
      transition: all 0.4s;
      background-color: $panel;
      height: 35px;
      border-bottom: 1px solid $orange;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: #666a6e;
        //color: $dim;
      }
      &>a {
        @include AinLI;
        padding: 5px 10px;
      }
    }
  }
}

.side__menuItem:hover .side__subMenu {
  visibility: visible;
  opacity: 1;
}

.account {
  width: 100%;
  padding: 20px 10px;
  border-bottom: 1px dotted rgba(204, 204, 204, 0.5);
  cursor: pointer;
  &__avatar {
    position: relative;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  &__text {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: $light;
    width: 200 - 67px;
    font-size: 0.8rem;
    &Greeting {
      font-size: 0.85em;
      vertical-align: middle;
    }
    &Username {
      font-size: 0.8rem;
      font-weight: bold;
      vertical-align: middle;
      color: #c05c11;
    }
  }
  &__menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 100%;
    width: 100%;
  }
  &__menuItem {
    position: relative;
    background-color: $dim;
    font-size: 0.8rem;
    height: 35px;
    width: 100%;
    margin: 5px 0;
    &:hover {
      background-color: rgb(180, 180, 180);
    }
    &>a {
      @include AinLI;
      padding: 5px 10px;
      &>span {
        vertical-align: middle;
      }
    }
  }
}

.menuItem {
  position: relative;
  font-size: 0;
  height: 16px;
  &__icon {
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
  }
  &__text {
    font-size: 0.8rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }
}

.account:hover>.account__menu {
  opacity: 1;
  visibility: visible;
}