.wrapperPanel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  font-size: 0;
  background-color: $mainW;
}

.main {
  width: calc(100% - 200px);
  top: 0;
  left: 200px;;
  display: block;
  font-size: 0.8rem;
  position: relative;
  padding: 25px;
  color: $light;

  h3 {
    color: $orange;
  }
}