$color1: #ccc;
$color3: #f5f5f5;
$dim: dimgray;

$light02:rgba(255, 255, 255, 0.2);

$light: #fff;
$dark: #000;
$panel: #242A2F;
$mainW: #536064;
$orange: #ff8000;
$lightAdj: rgba(255,255,255, 0);



//info
$good: rgb(0, 165, 0);
$bad: rgb(255, 38, 0);
$neutral: rgb(0, 102, 255);

//gradient
$grad1: #330042; 
$grad2: #150013;

//inputs glow
$alpha07: 0.7;
$alpha1: 1;
$glow: 0px 0px 20px;
$glowalphacolor: rgba(55, 255, 255, $alpha07);
$glowbuttoncolor: rgba(255, 112, 255, $alpha07);
$glowcolor: rgba(55, 255, 255, $alpha1);